<h2>商品一覧</h2>
<%= link_to admin_items_new_path do %>
  <span>商品追加</span>
<% end %>

<% @items.each do |item| %>
  <table class="table">
    <thead>
      <tr>
        <th>商品ID</th>
        <th scope="col">
          商品名
        </th>
        <th scope="col">
          税抜き価格
       </th>
        <th scope="col">
          ジャンル
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><%= item.id %></th>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <td><%= @item.genre.name %></td>
      </tr>
    </tbody>
  </table>
<% end %>
