<h2>商品新規登録</h2>
<%= form_with model: @item, url: '/admin/items', method: :post do |f| %>
  <p>商品画像</p>
  <%= f.file_field :image, accept: "image/*" %>
  <p>商品名</p>
  <%= f.text_field :name %>
  <p>商品説明</p>
  <%= f.text_area :introduction %>
  <p>ジャンル</p>
  <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %>
  <p>税抜き価格</p>
  <%= f.text_field :price %>
  <%= f.submit '新規登録' %>
<% end %>