<div class="container">
  <div class="row">
    <h4 class="bg-light px-3 mt-3 mb-5">配送先登録/一覧</h4>
  </div>
  <%= form_with model: @address, url: '/addresses', method: :post do |f| %>
  <div class="form-group row">
    <label class="col-3 col-form-label">郵便番号（ハイフンなし）</label>
    <div class="col-4">
      <%= f.text_field :shipping_postal_code, placeholder: "0000000", class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-form-label">住所</label>
    <div class="col-9">
      <%= f.text_field :shipping_address, placeholder: "東京都渋谷区代々木神園町0-0", class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-form-label">名前</label>
    <div class="col-4 d-inline-block">
      <%= f.text_field :shipping_name, placeholder: "令和道子", class: "form-control" %>
    </div>
    <div class="col text-right">
      <%= f.submit "新規登録", class: "btn btn-success" %>
    </div>
  </div>
  <% end %>
  <div class="row">
    <table class="table table-bordered mt-5">
      <thead class="thead-light">
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th></th>
      </thead>
      <% @addresses.each do |address| %>
      <tr>
        <td><%= address.shipping_postal_code %></td>
        <td><%= address.shipping_address %></td>
        <td><%= address.shipping_name %></td>
        <td>
          <%= link_to edit_address_path(address.id), class: 'btn btn-success' do %>
            <span>編集する</span>
          <% end %>
          <%= link_to address_path(address.id), method: :delete, "data-confirm" => "本当に消しますか？", class: 'btn btn-danger ml-3' do %>
            <span>削除する</span>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>