<h2>注文情報確認</h2>
<div>
  <% @cart_items.each do |cart_item| %>
  <%= image_tag cart_item.item.get_image(50,50) %>
  <%= cart_item.item.name %>
  <%= cart_item.item.with_tax_price %>
  <%= cart_item.amount %>
  <%= cart_item.subtotal %>
<% end %>
<p>800</p>
<%= @total %>
<%= @amount_bill %>
</div>

<span><strong>支払方法</strong></span>
<%= @order.payment_method_i18n %>
<span><strong>お届け先</strong></span>
<%= @order.shipping_postal_code %>
<%= @order.shipping_address %>
<%= @order.shipping_name %>

<%= form_with model: @order do |f| %>
  <%= f.hidden_field :payment_method, value: @order.payment_method %>
  <%= f.hidden_field :shipping_postal_code, value: @order.shipping_postal_code %>
  <%= f.hidden_field :shipping_address, value: @order.shipping_address %>
  <%= f.hidden_field :shipping_name, value: @order.shipping_name %>
  <%= f.hidden_field :amount_bill, value: @amount_bill %>
  <%= submit_tag "注文を確定する", class: "btn btn-success" %>
<% end %>
